
ion-app, ion-content {
    width: 100%;
}

ion-label.icon-header {
    width: 10%;
}

ion-card.text-content {
    width: 90%;
    margin: auto;
    margin-top: 0;
}

ion-col.col-left-header-text {
    
}

ion-textarea {
    font-size: 18pt;
}

ion-icon.volume-medium-sharp, ion-icon.swap-horizontal-outline {
    font-size: 18pt;
}

ion-button.ion-button-text, ion-button.ion-button-doc {
    width: 8em;
}

ion-row.ion-row-button {
    width: 90%;
    margin: 1em auto;
}