<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<!-- <ion-app>
	<ion-header>
    <ion-toolbar>
	<ion-title>Hello</ion-title>
</ion-toolbar>
  </ion-header>
	<ion-content>

    <form [formGroup]="loginForm" >
    <ion-item lines="full">
      <ion-label position="floating">Login</ion-label>
      <ion-input type="text"  formControlName="login"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text"  formControlName="email"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password"  formControlName="password"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Confirmation du mot de passe</ion-label>
      <ion-input type="password"  formControlName="confirmedPassword"></ion-input>
    </ion-item>   
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click)="saveUser()" >Créer un compte</ion-button>       
      </ion-col>
    </ion-row>
  </form>
   
  </ion-content>
</ion-app> -->
